## Importe de Librerías

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sqlalchemy as sa
import matplotlib.pyplot as plt

%matplotlib inline
%config IPCompleter.greedy = True

## Datos

In [2]:
listings = pd.read_csv('../Datos/listings.csv')
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,13660,Simon,Chamartín,Hispanoamérica,40.457240,-3.676880,Private room,85.0,5,106,2023-10-16,0.63,1,22,4,NaN
1,30320,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,130907,Dana,Centro,Sol,40.414760,-3.704180,Entire home/apt,65.0,5,172,2022-09-26,1.05,3,0,0,NaN
2,21853,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,83531,Abdel,Latina,Cármenes,40.403810,-3.741300,Private room,31.0,4,33,2018-07-15,0.30,2,135,0,NaN
3,24805,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,346366726,Alvaro,Centro,Universidad,40.421830,-3.705290,Entire home/apt,94.0,5,33,2023-11-06,0.30,1,168,8,NaN
4,30959,Loft in Madrid · ★4.38 · 1 bedroom · 1 bed · 1...,132883,Angela,Centro,Embajadores,40.412590,-3.701050,Entire home/apt,NaN,3,8,2017-05-30,0.08,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25538,1046219783290634155,Rental unit in Madrid · ★New · 2 bedrooms · 3 ...,529402573,Sara,Usera,Zofío,40.384658,-3.714106,Entire home/apt,120.0,1,0,NaN,NaN,56,303,0,NaN
25539,1045519419976898566,Rental unit in Madrid · ★New · 1 bedroom · 1 b...,529402573,Sara,Salamanca,Guindalera,40.438832,-3.671323,Entire home/apt,120.0,1,0,NaN,NaN,56,189,0,NaN
25540,1046222300986271054,Rental unit in Madrid · ★New · 1 bedroom · 1 b...,31772865,CituSpace,Tetuán,Castillejos,40.458234,-3.695566,Entire home/apt,171.0,1,0,NaN,NaN,42,318,0,NaN
25541,1046239141714406672,Rental unit in Madrid · ★New · 2 bedrooms · 4 ...,346367515,Ukio,Chamberí,Arapiles,40.433040,-3.711060,Entire home/apt,74.0,31,0,NaN,NaN,237,326,0,NaN
25542,1046255434342767173,Rental unit in Madrid · ★New · 1 bedroom · 3 b...,529402573,Sara,Centro,Justicia,40.419923,-3.699678,Entire home/apt,119.0,1,0,NaN,NaN,56,309,0,NaN

In [3]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,85.0,5,106,2023-10-16,0.63,1,22,4,NaN
1,30320,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,130907,Dana,Centro,Sol,40.41476,-3.70418,Entire home/apt,65.0,5,172,2022-09-26,1.05,3,0,0,NaN
2,21853,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31.0,4,33,2018-07-15,0.30,2,135,0,NaN
3,24805,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,346366726,Alvaro,Centro,Universidad,40.42183,-3.70529,Entire home/apt,94.0,5,33,2023-11-06,0.30,1,168,8,NaN
4,30959,Loft in Madrid · ★4.38 · 1 bedroom · 1 bed · 1...,132883,Angela,Centro,Embajadores,40.41259,-3.70105,Entire home/apt,NaN,3,8,2017-05-30,0.08,1,0,0,NaN

In [4]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              25543 non-null  int64
 1   name                            25543 non-null  object
 2   host_id                         25543 non-null  int64
 3   host_name                       25532 non-null  object
 4   neighbourhood_group             25543 non-null  object
 5   neighbourhood                   25543 non-null  object
 6   latitude                        25543 non-null  float64
 7   longitude                       25543 non-null  float64
 8   room_type                       25543 non-null  object
 9   price                           21734 non-null  float64
 10  minimum_nights                  25543 non-null  int64
 11  number_of_reviews               25543 non-null  int64
 12  last_review                     20176 non-null  object
 13  reviews_per_month               20176 non-null  float64
 14  calculated_host_listings_count  25543 non-null  int64
 15  availability_365                25543 non-null  int64
 16  number_of_reviews_ltm           25543 non-null  int64
 17  license                         2784 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 3.5+ MB

In [5]:
listings_D = pd.read_csv('../Datos/listings.csv.gz', compression = 'gzip')
listings_D

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,...,4.86,4.84,4.86,NaN,f,1,0,1,0,0.63
1,21853,https://www.airbnb.com/rooms/21853,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,NaN,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.30
2,24805,https://www.airbnb.com/rooms/24805,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,NaN,"The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,...,4.97,5.00,4.76,NaN,f,1,1,0,0,0.30
3,26825,https://www.airbnb.com/rooms/26825,20231215032748,2023-12-15,city scrape,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1...,NaN,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,...,4.72,4.73,4.77,NaN,f,1,0,1,0,1.18
4,30320,https://www.airbnb.com/rooms/30320,20231215032748,2023-12-15,previous scrape,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,NaN,NaN,https://a0.muscache.com/pictures/336868/f67409...,130907,...,4.78,4.90,4.69,NaN,f,3,3,0,0,1.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25538,1045513235996315049,https://www.airbnb.com/rooms/1045513235996315049,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★New · 2 bedrooms · 3 ...,NaN,NaN,https://a0.muscache.com/pictures/prohost-api/H...,238061469,...,NaN,NaN,NaN,NaN,f,4,4,0,0,NaN
25539,1045517912453641702,https://www.airbnb.com/rooms/1045517912453641702,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★New · 4 bedrooms · 4 ...,NaN,NaN,https://a0.muscache.com/pictures/prohost-api/H...,529402573,...,NaN,NaN,NaN,NaN,f,56,56,0,0,NaN
25540,1045518757044319450,https://www.airbnb.com/rooms/1045518757044319450,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★New · 4 bedrooms · 5 ...,NaN,NaN,https://a0.muscache.com/pictures/prohost-api/H...,529402573,...,NaN,NaN,NaN,NaN,f,56,56,0,0,NaN
25541,1045519103468143325,https://www.airbnb.com/rooms/1045519103468143325,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★New · 2 bedrooms · 3 ...,NaN,NaN,https://a0.muscache.com/pictures/prohost-api/H...,529402573,...,NaN,NaN,NaN,NaN,f,56,56,0,0,NaN
25542,1045519419976898566,https://www.airbnb.com/rooms/1045519419976898566,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★New · 1 bedroom · 1 b...,NaN,NaN,https://a0.muscache.com/pictures/prohost-api/H...,529402573,...,NaN,NaN,NaN,NaN,f,56,56,0,0,NaN

In [6]:
listings_D.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,...,4.86,4.84,4.86,NaN,f,1,0,1,0,0.63
1,21853,https://www.airbnb.com/rooms/21853,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,NaN,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.30
2,24805,https://www.airbnb.com/rooms/24805,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,NaN,"The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,...,4.97,5.00,4.76,NaN,f,1,1,0,0,0.30
3,26825,https://www.airbnb.com/rooms/26825,20231215032748,2023-12-15,city scrape,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1...,NaN,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,...,4.72,4.73,4.77,NaN,f,1,0,1,0,1.18
4,30320,https://www.airbnb.com/rooms/30320,20231215032748,2023-12-15,previous scrape,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,NaN,NaN,https://a0.muscache.com/pictures/336868/f67409...,130907,...,4.78,4.90,4.69,NaN,f,3,3,0,0,1.05

In [7]:
listings_D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            25543 non-null  int64
 1   listing_url                                   25543 non-null  object
 2   scrape_id                                     25543 non-null  int64
 3   last_scraped                                  25543 non-null  object
 4   source                                        25543 non-null  object
 5   name                                          25543 non-null  object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         13137 non-null  object
 8   picture_url                                   25542 non-null  object
 9   host_id                                       25543 non-null  int64
 10  host_url                                      25543 non-null  object
 11  host_name                                     25532 non-null  object
 12  host_since                                    25532 non-null  object
 13  host_location                                 17786 non-null  object
 14  host_about                                    12219 non-null  object
 15  host_response_time                            20378 non-null  object
 16  host_response_rate                            20378 non-null  object
 17  host_acceptance_rate                          21463 non-null  object
 18  host_is_superhost                             25363 non-null  object
 19  host_thumbnail_url                            25532 non-null  object
 20  host_picture_url                              25532 non-null  object
 21  host_neighbourhood                            10331 non-null  object
 22  host_listings_count                           25532 non-null  float64
 23  host_total_listings_count                     25532 non-null  float64
 24  host_verifications                            25532 non-null  object
 25  host_has_profile_pic                          25532 non-null  object
 26  host_identity_verified                        25532 non-null  object
 27  neighbourhood                                 13137 non-null  object
 28  neighbourhood_cleansed                        25543 non-null  object
 29  neighbourhood_group_cleansed                  25543 non-null  object
 30  latitude                                      25543 non-null  float64
 31  longitude                                     25543 non-null  float64
 32  property_type                                 25543 non-null  object
 33  room_type                                     25543 non-null  object
 34  accommodates                                  25543 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                25528 non-null  object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          25238 non-null  float64
 39  amenities                                     25543 non-null  object
 40  price                                         21734 non-null  object
 41  minimum_nights                                25543 non-null  int64
 42  maximum_nights                                25543 non-null  int64
 43  minimum_minimum_nights                        25543 non-null  int64
 44  maximum_minimum_nights                        25543 non-null  int64
 45  minimum_maximum_nights                        25543 non-null  int64
 46  maximum_maximum_nights                        25543 non-null  int64
 47  minimum_nights_avg_ntm                        25543 non-null  float64
 48  maximum_nights_avg_ntm                        25543 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              21734 non-null  object
 51  availability_30                               25543 non-null  int64
 52  availability_60                               25543 non-null  int64
 53  availability_90                               25543 non-null  int64
 54  availability_365                              25543 non-null  int64
 55  calendar_last_scraped                         25543 non-null  object
 56  number_of_reviews                             25543 non-null  int64
 57  number_of_reviews_ltm                         25543 non-null  int64
 58  number_of_reviews_l30d                        25543 non-null  int64
 59  first_review                                  20176 non-null  object
 60  last_review                                   20176 non-null  object
 61  review_scores_rating                          20216 non-null  float64
 62  review_scores_accuracy                        20213 non-null  float64
 63  review_scores_cleanliness                     20213 non-null  float64
 64  review_scores_checkin                         20214 non-null  float64
 65  review_scores_communication                   20215 non-null  float64
 66  review_scores_location                        20212 non-null  float64
 67  review_scores_value                           20211 non-null  float64
 68  license                                       2784 non-null   object
 69  instant_bookable                              25543 non-null  object
 70  calculated_host_listings_count                25543 non-null  int64
 71  calculated_host_listings_count_entire_homes   25543 non-null  int64
 72  calculated_host_listings_count_private_rooms  25543 non-null  int64
 73  calculated_host_listings_count_shared_rooms   25543 non-null  int64
 74  reviews_per_month                             20176 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 14.6+ MB

Conclusiones: 

* Son los mismos registros pero el fichero de detalle tiene más columnas.
* Es posible unir las tablas mediante el campo id

In [8]:
con = sa.create_engine('sqlite:///../Datos/AIRBNB.db')

listings.to_sql('listings', con = con, if_exists = 'replace')
listings_D.to_sql('listings_D', con = con, if_exists = 'replace', index = False)

25543